<div>
<%= simple_form_for([@syllabus_module, @lecture]) do |f|%>
  <%= f.input :details, label: "Detalles de la Lectura" %>
    <%= f.submit "Actualizar", class:"btn btn-primary w-100"%>
<%end%></div>
