<%= turbo_frame_tag :lecture do %>
  <div class= "custom-card-new text-center">
  <%= simple_form_for([ @syllabus_module, @lecture], html: { id: "lecture_input", class: 'd-flex container', style: 'max-width: 600px;' }) do |f| %>  <!-- Título del modulo -->
    <div class="form-group flex-grow-1 text-start m-3">
      <%= f.input :details, label: 'Título de la Lección', input_html: { class: 'form-control' } %>
    </div>

    <!-- Botón de envío -->
    <div class= "d-flex justify-content-center ">
      <div class="form-actions text-center mt-5 ms-2">
        <%= f.button :submit, 'Agregar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
