.custom-card-vertical {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 350px;
  max-width: 90%;
  margin: 0 auto;
  height: 500px;
  position: relative;
  transition: all 0.3s ease;
  border: 5px solid transparent;
  background: white;
}

.custom-card-vertical::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 15px;
  background: linear-gradient(45deg, #ED33B9, #F6AF65, #F9E900, #00C2D1, #0A1045);
  z-index: -1;
}

.custom-card-vertical .card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.custom-card-vertical .card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  overflow: hidden;
}

.custom-card-vertical .card-title {
  font-size: 1.1rem;
  margin: 5px 0;
  text-align: start;
}

.custom-card-vertical .card-subtitle {
  font-size: 0.9rem;
  color: #484848;
  margin-top: 5px;
  text-align: start;
}

.custom-card-vertical .card-text {
  font-size: 0.9rem;
  color: #878787;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: start;
}

.custom-card-vertical .d-flex {
  gap: 10px;
}

.custom-card-vertical .card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 15px;
  gap: 10px;  /* Espacio entre los botones */
  width: 100%;  /* Asegura que el contenedor de los botones ocupe todo el ancho disponible */
}

.custom-card-vertical .btn {
  flex-grow: 1;  /* Hace que los botones ocupen todo el ancho disponible dentro del pie de la tarjeta */
  padding: 10px 15px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  color: white;  /* El texto sigue siendo blanco */
  transition: background-position 0.3s ease-out, color 0.4s ease-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  border: none;
  display: flex;  /* Usamos flexbox para alinear el contenido */
  justify-content: center;  /* Alinea horizontalmente el texto */
  align-items: center;  /* Alinea verticalmente el texto */
  box-sizing: border-box;
}


.custom-card-vertical:hover {
  box-shadow: none;
}

.nav-link.active {
  font-weight: bolder;
  color: transparent !important;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  background: linear-gradient(45deg, #ED33B9, #F6AF65, #F9E900, #00C2D1, #0A1045);  /* Gradiente */
  background-size: 400% 400%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  background-clip: text;
}

.nav-link {
  font-weight: bolder;
  color: transparent !important;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  background: linear-gradient(45deg, #ED33B9, #F6AF65, #F9E900, #00C2D1, #0A1045);  /* Gradiente */
  background-size: 400% 400%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  background-clip: text; 
}

#nav-profile-tab {
    color: transparent !important;  /* El texto es transparente para que se vea el gradiente */
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    background: linear-gradient(45deg, #00C2D1, #0A1045);  /* Gradiente */
    background-size: 400% 400%;  /* Gran tamaño del gradiente */
    background-position: 0% 0%;  /* El gradiente comienza en la posición inicial */
    -webkit-background-clip: text;  /* Aplica el gradiente solo al texto */
    background-clip: text;  /* Aplica el gradiente solo al texto */
}
