.navbar-nav {
  display: flex;
  justify-content: center;
}

.navbar-nav.ms-auto {
  margin-left: auto;
}

.text-logo {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: left;
  margin: 0;
  margin-right: 10px;
}

/* Estado normal: El texto es negro */
/* Estado normal */
.custom-link-color {
  font-weight: bolder;
  color: #000000;  /* Texto negro por defecto */
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1rem;
  transition: background-position 1s ease, color 0.4s ease;  /* Transición suave para el gradiente */
  outline: none;
  border: none;
  background: linear-gradient(45deg, #ED33B9, #F6AF65, #F9E900, #00C2D1, #0A1045);  /* Gradiente */
  background-size: 400% 400%;  /* Gran tamaño del gradiente para la animación */
  background-position: 0% 0%;  /* El gradiente comienza en la posición inicial */
  -webkit-background-clip: text;  /* Aplica el gradiente solo al texto */
  background-clip: text;  /* Aplica el gradiente solo al texto */
}

/* Efecto cuando el ratón pasa por encima (hover) */
.custom-link-color:hover {
  color: transparent;  /* El texto se vuelve transparente para mostrar el gradiente */
  background-position: 100% 0%;  /* Mueve el gradiente de izquierda a derecha */
  transition: background-position 1s ease;  /* Animación del gradiente */
}

/* Estado activo: el gradiente se queda estático y no se mueve */
.custom-link-color.active {
  color: white !important;  /* Asegura que el color del texto sea blanco cuando está activo */
  background-position: 100% 0% !important;  /* El gradiente se queda estático en la posición final */
  transition: none !important;  /* Elimina las transiciones en el estado activo */
  -webkit-background-clip: text !important;  /* Asegura que el gradiente se aplique solo al texto */
  background-clip: text !important;  /* Asegura que el gradiente se aplique solo al texto */
}

.custom-form {
  display: flex;
}

.custom-input {
  height: 30px;
  padding: 5px;
  border-radius: 5px 0 0 5px; /* Redondea solo las esquinas izquierdas */
  margin-right: 0; /* Asegura que no haya separación entre los dos elementos */
}

.custom-btn {
  height: 30px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0; /* Redondea solo las esquinas derechas */
  font-size: 14px;
  margin-left: 0; /* Elimina el margen izquierdo entre el botón y el input */
}

.custom-input:focus {
  background-color: none;
  list-style: none;
  color: none;
  box-shadow: none;
  border-color: #F6AF65;
}

/* Oculta el menú por defecto */
.nav-item.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}

/* Muestra el menú cuando el usuario hace hover sobre el li del menú */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
