.navbar-nav {
  display: flex;
  justify-content: center;
}

.navbar-nav.ms-auto {
  margin-left: auto;
}

.text-logo {
  font-size: 1.5rem !important;
  font-weight: bolder;
  text-align: left;
  margin: 0;
  margin-right: 10px;
}

/* Efecto cuando el ratón pasa por encima (hover) */
.custom-link-color:hover {
  color: transparent;  /* El texto se vuelve transparente para mostrar el gradiente */
  background-position: 100% 0%;  /* Mueve el gradiente de izquierda a derecha */
  transition: background-position 1s ease;  /* Animación del gradiente */
}

/* Estado activo: el gradiente se queda estático y no se mueve */
.custom-link-color.active {
  color: white !important;  /* Asegura que el color del texto sea blanco cuando está activo */
  background-position: 100% 0% !important;  /* El gradiente se queda estático en la posición final */
  transition: none !important;  /* Elimina las transiciones en el estado activo */
  -webkit-background-clip: text !important;  /* Asegura que el gradiente se aplique solo al texto */
  background-clip: text !important;  /* Asegura que el gradiente se aplique solo al texto */
}

.custom-form {
  display: flex;
}

.custom-input {
  height: 30px;
  padding: 5px;
  border-radius: 5px 0 0 5px; /* Redondea solo las esquinas izquierdas */
  margin-right: 0; /* Asegura que no haya separación entre los dos elementos */
}

.custom-btn {
  height: 30px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0; /* Redondea solo las esquinas derechas */
  font-size: 14px;
  margin-left: 0; /* Elimina el margen izquierdo entre el botón y el input */
}

.custom-input:focus {
  background-color: none;
  list-style: none;
  color: none;
  box-shadow: none;
  border-color: #F6AF65;
}

/* Oculta el menú por defecto */
.nav-item.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}

/* Muestra el menú cuando el usuario hace hover sobre el li del menú */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* Remove underline from the <a> tag itself */
a {
  text-decoration: none;  /* Ensures no underline on the link */
}

/* Container hover effect for both logo and text */
.logo-container {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for the entire container */
}

.logo-container:hover {
  transform: scale(0.9);  /* Scale down both logo and text */
  opacity: 0.7;  /* Reduce opacity of both */
}

/* Default text style (no underline, normal color) */
.text-logo {
  color: black;  /* Default text color */
  text-decoration: none;  /* Ensure no underline */
  transition: all 0.3s ease; /* Smooth transition for color */
}

/* Hover effect for the text "U-Bliss" */
.logo-container:hover .text-logo {
  color: black;
  text-decoration: none;  /* Ensure there's no underline on hover */
}

/* Ensure logo image maintains opacity change */
.img-hover-opacity {
  transition: opacity 0.3s ease;
}
