<h3>Mi Biblioteca</h3>

<div class="library-cards-container">
  <% @libraries.each do |library| %>
    <div class="library-card">
      <h4 class="library-title"><%= library.syllabus.title %></h4>
      <p class="library-description"><%= library.syllabus.description %></p>
    </div>
  <% end %>
</div>
