 <!-- Banner Principal -->
    <section class="hero">
        <div class="hero-text">
            <h1>¡Aprende de los mejores creativos del mundo!</h1>
            <p>Inicia tu viaje creativo con los cursos más innovadores.</p>
            <div class="buttons">
                <%= link_to "Explora Syllabuses", syllabuses_path, class: "btn-primary" %>
            </div>
        </div>
    </section>

    <!-- Cursos Destacados -->
    <section class="featured-courses">
        <h2>Silabos Destacados</h2>
        <div class="courses-container">
            <div class="course-card">
                <h3>Silabo de Diseño Gráfico</h3>
                <p>Impartido por expertos en la materia.</p>
                <a href="#" class="btn-primary">Ver más</a>
            </div>
            <div class="course-card">
                <h3>Silabo de Fotografía</h3>
                <p>Aprende a capturar momentos inolvidables.</p>
                <a href="#" class="btn-primary">Ver más</a>
            </div>
        </div>
    </section>

    <!-- Testimonios -->
    <section class="testimonials">
        <h2>Lo que dicen nuestros estudiantes</h2>
        <div class="testimonial-slider">
            <div class="testimonial">
                <p>"Este curso me cambió la vida profesional."</p>
                <p>- Juan Pérez</p>
            </div>
            <div class="testimonial">
                <p>"Nunca imaginé que podría dominar el diseño gráfico en tan poco tiempo."</p>
                <p>- María Gómez</p>
            </div>
            <!-- Más testimonios -->
        </div>
    </section>

<section class="about-us">
    <div class="about-content">
        <div class="about-text">
            <h3 class="about-us-text">¿Quiénes Somos?</h3>
            <p class="about-us-text">Somos un grupo de estudiantes, tal como tú, que buscamos aprender de manera más eficiente. Al principio, nos sentimos perdidos, sin saber por dónde empezar ni cómo trazar una ruta clara para adquirir nuevos conocimientos. Era un reto encontrar el camino correcto entre tantas opciones.</p>
            <p class="about-us-text">Para hacer todo esto más fácil, decidimos crear esta plataforma. Aquí, las personas pueden compartir sus propias rutas de aprendizaje, recomendaciones y recursos útiles sobre diversos temas. Nuestro objetivo es ayudarte a encontrar el mejor camino para aprender, sin perder tiempo ni energía buscando información dispersa.</p>
            <p class="about-us-text">Queremos que este espacio sea una comunidad donde todos podamos compartir y crecer juntos. ¡Estamos aquí para aprender, apoyarnos y avanzar juntos!</p>
        </div>
    </div>
</section>
