<h1 class="profile-title mt-5">Mi Perfil</h1>

<div class="profile-card">
  <div class="profile-card-body">
    <h5 class="profile-card-title">Detalles del Perfil</h5>

    <p><strong>Email:</strong> <%= @user.email %></p>

  </div>
</div>
