<!-- app/views/pages/my_profile.html.erb -->
<h1>Mi Perfil</h1>
<p>Nombre: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<!-- Aquí puedes agregar más información del usuario, como su foto de perfil o detalles adicionales -->
